<!DOCTYPE html>
<html>
<head>
    <%-include('layout/head')%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/conversion.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/layout/nav-slider.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <title><%=data[0].TenDanhMuc%> Conversion</title>
</head>
<body>
<%-include('layout/header')%>
<%-include('layout/nav-slider')%>
<section class="length-head">
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                <div class="input-unit input-unit-1 col-md-12">
                    <div class="label">
                        <a href="#">Common <%=data[0].TenDanhMuc%> Units</a>
                    </div>
                    <form class="form-group">
                        <%for(let unit of data){%>
                        <%if (unit.DoPhoBien == 1){%>
                        <div class="col-md-4 input-field">
                            <label><%=unit.TenDonVi%>(<%=unit.KiHieu%>)</label>
                            <input id="<%=unit.TenDonVi%>" class="form-control conversion-unit" type="text" name="<%=unit.DonViID%>" >
                        </div>
                        <%}}%>
                    </form>
                </div>
            </div>
        </div>
        <%for(let unit of data){%>
        <%if (unit.DoPhoBien == 2 ){%>
            <div class="row">
                <div class="col-md-12" >
                    <div class="input-unit input-unit-2 col-md-12">
                        <div class="label">
                            <a href="#">SI <%=data[0].TenDanhMuc%> Units</a>
                        </div>
                        <form class="form-group">
                            <%for(let unit of data){%>
                            <%if (unit.DoPhoBien == 2 ){%>
                            <div class="col-md-4 input-field">
                                <label><%=unit.TenDonVi%>(<%=unit.KiHieu%>)</label>
                                <input id="<%=unit.TenDonVi%>" class="form-control conversion-unit" type="text" name="<%=unit.DonViID%>" >
                            </div>
                            <%}}%>
                        </form>
                    </div>
                </div>
            </div>
        <%break;}}%>
    </div>
</section>
<div class="introduce">
    <div class="container-convert">
        <div class="intro">
            <i class="far fa-smile-wink"></i>  On this page, we would like to introduce to you some units in the field of Length:
        </div>
    </div>
    <div class="ruler">
        <img src="images/ruler.png">
    </div>
</div>

    <div class="length-body">
            <div class="listunit col-lg-12">
                        <%for(let i=0;i<dataunit.length && i<4;i++){ %>
                                <div class="container">
                                    <div class="unit">
                                        <%=dataunit[i].TenDonVi%>
                                    </div>
                                    <div class="decription">
                                        <%=dataunit[i].MoTa%><a href="#"> Show more...</a>
                                    </div>
                                </div>
                        <%}%>
            </div>
    </div>



<script type="text/javascript">
    $('.autoScroll').bind('click',() => {
        console.log('click');
        $('body,html').animate({scrollTop: 300  }, 500);
    });
</script>
<script type="text/javascript" src="./javascripts/conversion-data.js"></script>
</body>

</html>
