<!DOCTYPE html>
<html>
<head>
    <%-include('layout/head')%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/conversion.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/layout/nav-slider.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <title><%=data[0].TenDanhMuc%> Conversion</title>
</head>
<body>
<%-include('layout/header')%>
<%-include('layout/nav-slider')%>
<section class="length-head">
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                <div class="input-unit input-unit-1 col-md-12">
                    <div class="label">
                        <a href="#">Common <%=data[0].TenDanhMuc%> Units</a>
                    </div>
                    <form class="form-group">
                        <%for(let unit of data){%>
                        <%if (unit.DoPhoBien == 1){%>
                        <div class="col-md-4 input-field">
                            <label><%=unit.TenDonVi%>(<%=unit.KiHieu%>)</label>
                            <input id="<%=unit.TenDonVi%>" class="form-control conversion-unit" type="text" name="<%=unit.DonViID%>" >
                        </div>
                        <%}}%>
                    </form>
                </div>
            </div>
        </div>
        <%for(let unit of data){%>
        <%if (unit.DoPhoBien == 2 ){%>
            <div class="row">
                <div class="col-md-12" >
                    <div class="input-unit input-unit-2 col-md-12">
                        <div class="label">
                            <a href="#">SI <%=data[0].TenDanhMuc%> Units</a>
                        </div>
                        <form class="form-group">
                            <%for(let unit of data){%>
                            <%if (unit.DoPhoBien == 2 ){%>
                            <div class="col-md-4 input-field">
                                <label><%=unit.TenDonVi%>(<%=unit.KiHieu%>)</label>
                                <input id="<%=unit.TenDonVi%>" class="form-control conversion-unit" type="text" name="<%=unit.DonViID%>" >
                            </div>
                            <%}}%>
                        </form>
                    </div>
                </div>
            </div>
        <%break;}}%>
    </div>
</section>
<div class="introduce">
    <div class="container-convert">
        <div class="intro">
            <i class="far fa-smile-wink"></i>  On this page, we would like to introduce to you some units in the field of Length:
        </div>
    </div>
    <div class="ruler">
        <img src="images/ruler.png">
    </div>
</div>

<div class="length-body">

            <div class="listunit">
                <div class="row">
                    <ul class="col-md-12">
                        <li class="col-md-4">
                            <div class="unit">meter</div>
                            <div class="decripton">The metre (Commonwealth spelling) or meter (American spelling) (from the French unit mètre, from the Greek noun μέτρον, "measure") is the base unit of length in the International System of Units (SI). The SI unit symbol is m.The metre was originally defined in 1793 as one ten-millionth of the distance from the equator to the North Pole along a great circle, so circumference of the Earth is approximately 40000 km.
                                <a href="#">Show more...</a></div>
                        </li>
                        <li class="col-md-4">
                            <div class="unit">millimeter</div>
                            <div class="decripton">The millimetre (international spelling; SI unit symbol mm) or millimeter (American spelling) is a unit of length in the metric system, equal to one thousandth of a metre, which is the SI base unit of length.A common shortening of millimetre in spoken English is "mil". This can cause confusion since in the United States, "mil" traditionally means a thousandth of an inch.
                                <a href="#">Show more...</a></div>
                        </li>
                        <li class="col-md-4">
                            <div class="unit">centimeter</div>
                            <div class="decripton">A centimetre (international spelling) or centimeter (American spelling) (SI symbol cm) is a unit of length in the metric system, equal to one hundredth of a metre.The centimetre was the base unit of length in the now deprecated centimetre–gram–second (CGS) system of units.
                                <a href="#">Show more...</a></div>
                        </li>
                    </ul>
                </div>
            </div>

    <div class="length-foot">
        <a href="#">See More...</a>
    </div>
    </div>

<script type="text/javascript">
    $('.autoScroll').bind('click',() => {
        console.log('click');
        $('body,html').animate({scrollTop: 300  }, 500);
    });
</script>
<script type="text/javascript" src="./javascripts/conversion-data.js"></script>
</body>

</html>
