<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Danh sach chuyen doi</h1>
<ol>

    <% ss.map(function (v) { %>
        <li><%= v.TenSoSanh %></li>
    <% }) %>
</ol>

<section class="length-convert">
    <div class="container">
        <div class="row">
            <form action="#" method="get">
                <label>km</label>
                <input id="inputKilometers" type="number" placeholder="Kilometers"
                       oninput="kmConverter(this.value)" onchange="kmConverter(this.value)">

                <label>met</label>
                <input id="inputMeters" type="number" placeholder="Meters"
                       oninput="mConverter(this.value)" onchange="mConverter(this.value)">

                <label>cm</label>
                <input id="inputCentimeters" type="number" placeholder="Centimeters"
                       oninput="cmConverter(this.value)" onchange="cmConverter(this.value)">
            </form>
        </div>
    </div>
</section>
</body>
<script type="text/javascript">

    var TyLeKmtoMet;
    var TyLeMettoCm;

    <%   ss.map(function (v) {%>
    if(<%=v.MaSoSanh%> == 6) {  TyLeKmtoMet = <%=v.TiLe%>;};
    if(<%=v.MaSoSanh%> == 7) {  TyLeMettoCm = <%=1/v.TiLe%>;};
    <% }); %>

    function kmConverter(valNum) {
        var a = TyLeKmtoMet;
        var KmtoMet = valNum*a;
        document.getElementById("inputMeters").value = KmtoMet;
        this.mConverter(KmtoMet);
    }
    function mConverter(valNum){
        document.getElementById("inputCentimeters").value = valNum*TyLeMettoCm;
        document.getElementById("inputKilometers").value = valNum/TyLeKmtoMet;
    }
    function cmConverter(valNum){
        var CmtoMet = valNum/TyLeMettoCm;
        document.getElementById("inputMeters").value = CmtoMet;
        this.mConverter(CmtoMet);
    }
</script>
</html>