<!DOCTYPE html>
<html>
<head>
    <%-include('../layout/head')%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/search_index.css">
    <title></title>
</head>
<body>
<%-include('../layout/header')%>
<%-include('../layout/search')%>
<div class="container padding">
    <div class="searched text-center">
        <div class="col-12">
            <h1 class="display-4">Search Results For '<%=keyword%>'</h1>
        </div>
        <hr class="row"/>
    </div>
    <div class="row">
        <%for(let type of typeUnit){%>
    <div class="col-lg-12 text-left" style="font-size: 2.3em;"> <%=type%> UNIT</div>
        <%for(let dataUnit of data){%>
        <%if (dataUnit.TenDanhMuc === type){%>
        <div class="col-md-12">
            <div class="">
                <div class="card-body">
                    <a href="/search/<%=dataUnit.TenDanhMuc + '/Convert?from='+ dataUnit.KiHieu%>"><h4 class="card-title"><%=dataUnit.TenDonVi%></h4></a>
                    <p><%=dataUnit.MoTa%></p>
                </div>
            </div>
        </div>
        <%}}}%>
    </div>
</div>
</body>
</html>
